html
    head
        title vim-instant-preview
        link(rel='stylesheet', type='text/css', href='/css/github-latest.css')
        link(rel='stylesheet', type='text/css', href='/css/github-syntax-highlight.css')
        link(rel='stylesheet', type='text/css' href='/css/app.css')
    body
        #app: p.loading Loading...
        script(src="/socket.io/socket.io.js")
        script(src="/js/app.js")
